<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom Style Link -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Students Style link -->
    <link rel="stylesheet" href="./css/student.css" />

    <!-- Font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />

    <title>FUTO</title>
  </head>
  <body>
    <!-- Navigation Section -->
    <section class="nav-bar">
      <div class="logo">
        <a href="index.html">
          <img src="./images/logo.png " alt="logo" />
        </a>
      </div>

      <div id="menu-btn" class="fas fa-bars"></div>

      <nav class="navbar">
        <ul class="nav-left">
          <li><a href="index.html"> Home </a></li>
          <li><a href="./courses.html"> Courses </a></li>
          <li><a href="./event.html"> Event </a></li>
          <li><a href="./students.html"> Students </a></li>
          <li><a href="./teachers.html"> Teachers </a></li>
        </ul>
        <ul class="nav-right">
          <!-- <li class="notify">
            <a href="#"> <i class="fa fa-bell red"></i> </a>
          </li> -->
          <li>
            <a href="#">
              <i class="fa fa-bell"><span class="red"></span></i>
            </a>
          </li>
          <li><a href="./login.html"> LogOut </a></li>
        </ul>
      </nav>
    </section>

    <!-- Hero Section -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="hero-section"
            style="
              background-image: url('https://s35691.pcdn.co/wp-content/uploads/2016/03/iStock_000037379776_Medium.160328.jpg');
            "
          >
            <div class="overlay"></div>
            <div class="hero-content">
              <p class="hero-text1">Better education for better</p>
              <h1>Civil Engineers</h1>
              <p class="hero-text2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
                debitis? Recusandae odit facilis autem sint, laboriosam vero
                perspiciatis necessitatibus fugiat, sapiente quos quibusdam
                iusto, corrupti nihil earum dolor accusamu
              </p>
              <div>
                <button class="btn">Learn more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="hero-section"
            style="
              background-image: url('https://c.files.bbci.co.uk/130F0/production/_105646087_students.jpg');
            "
          >
            <div class="overlay"></div>
            <div class="hero-content">
              <h1>Federal University <br />of Technology Owerri</h1>
              <p class="hero-text2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
                debitis? Recusandae odit facilis autem sint, laboriosam vero
                perspiciatis necessitatibus fugiat, sapiente quos quibusdam
                iusto, corrupti nihil earum dolor accusamu
              </p>
              <div>
                <button class="btn">Learn more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="hero-section"
            style="
              background-image: url('https://media.istockphoto.com/photos/handsome-afro-student-posing-on-bookshelves-background-picture-id1171062918?b=1&k=20&m=1171062918&s=612x612&w=0&h=Kb6lK8UN5YonWr9X4idrzzbMyHU5bauiXSUDGm4wdcs=');
            "
          >
            <div class="overlay"></div>
            <div class="hero-content">
              <h1>Federal University <br />of Technology Owerri</h1>
              <p class="hero-text2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
                debitis? Recusandae odit facilis autem sint, laboriosam vero
                perspiciatis necessitatibus fugiat, sapiente quos quibusdam
                iusto, corrupti nihil earum dolor accusamu
              </p>
              <div>
                <button class="btn">Learn more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="hero-section"
            style="
              background-image: url('https://mauconline.net/wp-content/uploads/10-Tips-for-Marketing-to-College-Students-New.jpg');
            "
          >
            <div class="overlay"></div>
            <div class="hero-content">
              <h1>Federal University <br />of Technology Owerri</h1>
              <p class="hero-text2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
                debitis? Recusandae odit facilis autem sint, laboriosam vero
                perspiciatis necessitatibus fugiat, sapiente quos quibusdam
                iusto, corrupti nihil earum dolor accusamu
              </p>
              <div>
                <button class="btn">Learn more</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION 2 -->
    <section class="sec-2">
      <h2 class="sec-h2">Departmental Students</h2>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        architecto dolore dignissimos laudantium obcaecati quam rerum ea
        recusandae vel in deserunt ipsum, perferendis eaque unde aliquid est
        atque iusto necessitatibus. Quam esse ad modi perspiciatis fugiat ut
        similique quidem aut non possimus magni nihil accusantium eius, sequi
        Sit, optio aperiam!
      </p>
    </section>

    <!-- Counter Section -->
    <section class="counter-section">
      <div class="card-div">
        <div class="card">
          <i class="fa fa-graduation-cap"></i>
          <div class="card-content">
            <p class="number">160+</p>
            <p class="text">Courses</p>
          </div>
        </div>
        <div class="card">
          <i class="fa fa-user"></i>
          <div>
            <p class="number">160+</p>
            <p class="text">Students</p>
          </div>
        </div>
        <div class="card">
          <i class="fa fa-chalkboard-user"></i>
          <div>
            <p class="number">160+</p>
            <p class="text">Teachers</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Students -->
    <section class="students-section">
      <h2 class="sec-h2">Departmental Students</h2>

      <div class="swiper studentSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper studentSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper studentSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper studentSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper studentSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="student">
              <img src="./images/pic-1.png" alt="" />
              <div class="content">
                <span>expert trainer</span>
                <h3>john mark</h3>
                <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-pinterest"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-sec1">
        <p>
          Our School is ranked "B" <br />
          by the Federal Department of Education.
        </p>
        <button>More Info</button>
      </div>
      <div class="footer-sec2">
        <div class="footer-logo">
          <a href="#">
            <img src="./images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="foot-links">
          <h3 class="foot-title">Contact Us</h3>
          <p class="foot-text">
            2011 Bienville Street <br />
            New Orleans, LA 70112
          </p>
          <p class="foot-text">
            Phone: (504) 324-7061 <br />
            Fax: (504) 459-2602
          </p>
        </div>
        <div>
          <h3 class="foot-title">Quick Links</h3>
          <a href="#"> Home </a>
          <a href="#"> Courses </a>
          <a href="#"> Events </a>
          <a href="#"> Students </a>
          <a href="#"> Teachers </a>
        </div>
        <div>
          <h3 class="foot-title">Social Links</h3>
          <a href="#"> Facebook </a>
          <a href="#"> LinkedIn </a>
          <a href="#"> Instagram </a>
          <a href="#"> Twitter </a>
          <a href="#"> WhatsApp </a>
        </div>
      </div>
      <div class="footer-sec3">
        <div class="social-links">
          <h4>Social Links :</h4>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p>Federal University of Technology Owerri | Copyright 2023</p>
      </div>
      <div class="footer-sec4">
        <div class="overlay"></div>
        <h3>Belong to the best Department</h3>
        <p>
          Federal University of Technology Owerri interested in exploring the
          fields of science, technology, engineering, and math.
        </p>
      </div>
    </footer>

    <!-- Initialize Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Students Swiper -->
    <script>
      var swiper = new Swiper(".studentSwiper", {
        spaceBetween: 30,
        autoplay: {
          delay: 2000,
          disableOnInteraction: false,
        },
        grabCursor: true,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          550: {
            slidesPerView: 2,
          },
          791: {
            slidesPerView: 3,
          },
          1200: {
            slidesPerView: 5,
          },
        },
      });
    </script>

    <!-- Custom JS link -->
    <script src="./js/app.js"></script>
  </body>
</html>
