<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Custom Style Link -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Courses Style link -->
  <link rel="stylesheet" href="/css/notification.css" />

  <!-- Font awesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

  <title>Notification</title>
</head>

<body>
  <!-- Navigation Section -->
  <section class="nav-bar">
    <div class="logo">
      <a href="/home">
        <img src="/images/logo.png " alt="logo" />
      </a>
    </div>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
      <ul class="nav-left">
        <li><a href="/home"> Home </a></li>
        <li><a href="/courses"> Courses </a></li>
        <li><a href="/events"> Event </a></li>
        <li><a href="/students"> Students </a></li>
        <li><a href="/teachers"> Teachers </a></li>
      </ul>
      <ul class="nav-right">
        <li>
          <a href="/notification">
            <i class="fa fa-bell"><span class="red">
              <% if (notification.length > 9) { %>
                9+
              <% } else { %>
              <%- notification.length %>
              <% }%>
            </span></i>
          </a>
        </li>
        <li><a href="/logout"> LogOut </a></li>
      </ul>
    </nav>
  </section>

  <div class="main-container">
    <h2 class="sec-h2"> Notifications </h2>

    <% notification.forEach(notification=> { %>
      <div class="notification">
        <h3 class="day"> Today </h3>
        <h4 class="title"> <%- notification.title %> </h4>
        <p class="body">
        <%- notification.info %>
        </p>
        <p class="date"> Feb 12</p>
      </div>
      <% }) %>
      
  </div>

  
  <footer>
    <div class="footer-sec1">
      <p>
        Our School is ranked "B" <br />
        by the Federal Department of Education.
      </p>
      <button>More Info</button>
    </div>
    <div class="footer-sec2">
      <div class="footer-logo">
        <a href="#">
          <img src="/images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="foot-links">
        <h3 class="foot-title">Contact Us</h3>
        <p class="foot-text">
          2011 Bienville Street <br />
          New Orleans, LA 70112
        </p>
        <p class="foot-text">
          Phone: (504) 324-7061 <br />
          Fax: (504) 459-2602
        </p>
      </div>
      <div>
        <h3 class="foot-title">Quick Links</h3>
        <a href="#"> Home </a>
        <a href="#"> Courses </a>
        <a href="#"> Events </a>
        <a href="#"> Students </a>
        <a href="#"> Teachers </a>
      </div>
      <div>
        <h3 class="foot-title">Social Links</h3>
        <a href="#"> Facebook </a>
        <a href="#"> LinkedIn </a>
        <a href="#"> Instagram </a>
        <a href="#"> Twitter </a>
        <a href="#"> WhatsApp </a>
      </div>
    </div>
    <div class="footer-sec3">
      <div class="social-links">
        <h4>Social Links :</h4>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <p>
        Federal University of Technology Owerri | Copyright
        2023
      </p>
    </div>
    <div class="footer-sec4">
      <div class="overlay"></div>
      <h3>Belong to the best Department</h3>
      <p>
        Federal University of Technology Owerri interested in exploring
        the fields of science, technology, engineering, and math.
      </p>
    </div>
  </footer>


  <!-- Initialize Swiper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Custom JS link -->
  <script src="./js/script.js"></script>
</body>

</html>